
.full-form{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.full-form > .reg, 
.full-form > .reg2 {
    flex: 1;              /* Grow to fill space equally */
    width: auto;          /* Let flex control the width */
    height: 100vh;        /* Full viewport height */
    overflow-y: auto;     /* Scroll internally if content is too long */
}
.pdf-viewer{


  flex:1;
  height:auto;
}