# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv (we keep venv outside repo, but still)
venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment
.env
.env.*

# IDEs
.vscode/
.idea/

# OS
.DS_Store
